Repository sedzd/survey-api: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  tags: lint
  run: npm run lint {staged_files}

format:
  tags: format
  run: npm run format:check {staged_files}

chore: clean up
  .eslintignore
  .eslintrc.js
  lefthook.yml
  mock.Dockerfile
Due: lint, format

chore: update readme
  README.md
Due: none

chore: remove unused pkg
  package-lock.json
  package.json
Due: format

chore: add ERD
  README.md
Due: none

chore: Update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  lint: any of: *.{js,ts}
  format: any of: *.{js,ts,json,yml,yaml}
